
{% macro contentSections(sections) %}

  {% set bigHeaderCounter = 0 %}
  {% set qaSectionCounter = 0 %}


    {% for section in sections%}

    {% if section._type == 'ctaSection' %}
      {% include "sections/cta-section.html" %}
    {% endif %}
    {% if section._type == 'mainHeadingSection' %}
      {% include "sections/mainHeading-section.html" %}
    {% endif %}
    {% if section._type == 'rteSection' %}
      {% include "sections/rte-section.html" %}
    {% endif %}

  {% endfor %}

{% endmacro %}