{% macro gridCard(
  titile='<h2> Missing Title</h2>',
  eyebrow='',
  eyebrowColor='green',
  subtitle='',
  description='', 
  titleHeadingLvl=0,
  inverted="false",
  image,
  alt,
  buttonText="",
  buttonLink="",
  buttons=[]
) %}


  <div class="[ gridCard ] flow-space-300" >

    <div class="gridCard__image">
        {% if image %}
          <img 
            onclick="window.location = '{{buttonLink}}'"
            src="{% croppedUrlFor image, '500', '400' %}" 
            srcset="{% croppedUrlFor image, '600', '400' %} 500w,
            {% croppedUrlFor image, '900', '600' %}  960w"
            sizes="(min-width: 40em) 50vw, 100vw"
            alt="{{ alt }}"
          >
        {% endif %}
    </div>

    <div  class="gridCard__body [ flow flow-space-600 ] ">

      <div class="gridCard__heading [ flow flow-space-600 ]">
          {% if eyebrow %}
            <span class="gridCard__eyebrow {{eyebrowColor}} [ eyebrow ]"><span class="visually-hidden">tags: </span>{{ eyebrow | safe}}</span>
          {% endif %}
          {% if titleHeadingLvl > 0 %}
            <h{{titleHeadingLvl}} class="gridCard__title">{{titile | safe}}</h{{titleHeadingLvl}}>
          {% else %}
            <strong class="gridCard__title">{{titile | safe}}</strong>
          {% endif %}
          {% if subtitle %}
            <span class="gridCard__subtitle ">{{ subtitle | safe}}</span>
          {% endif %}
      </div>

      {% if description %}
      <div class="gridCard__description">
        {{ description | safe}}
      </div>
      {% endif %}

      {# {% if (buttonText) %}
      <div class="gridCard__buttonWrapper">
          <a href="{{buttonLink}}" class="[ button button--colored-bg button--color-red button--small ]">{{buttonText | safe}}</a>
      </div>
      {% endif %} #}

      {% if (buttons) %}
        <div class="gridCard__buttonWrapper">
            {% for button in buttons %}
              <a href="{{button.url}}" class="[ button ] [ button--colored-bg button--color-accent button--small button--full ] [ gap-top-300 ]">{{button.text}} {% include "partials/svg/icon-chevron-right-solid.svg" %}</a>
            {% endfor %}
        </div>
      {% endif %}

    </div>
    
  </div>
{% endmacro %}
