{% macro seoData(
    pageSeoTitle,
    pageSeoDescription,
    defaultSeoTitle,
    defaultSeoDescription,
    defaultSeoImage,
    seoImage
   ) %}

  {% set seoTitle = pageSeoTitle or defaultSeoTitle  %}
  {% set seoDescription = pageSeoDescription or defaultSeoDescription %}
  {% set ogImageUrll = seoImage or defaultSeoImage %}
  
  

  <title>{{seoTitle}} | DelGrosso's DG2GO</title>
  <meta name="description" content="{{seoDescription}}">
  <link rel="canonical" href="{{page.url}}"/>
  <meta name="robots" content="index, follow" />

  <meta property="og:title" content="{{seoTitle}}"/>
  <meta property="og:url" content="{{page.url}}" />
  <meta property="og:description" content="{{seoDescription}}" />
  <meta property="og:image" content="{% croppedUrlFor ogImageUrll, '1200', '627' %}" />
  <meta property="og:type" content="website" />
  

{% endmacro %}
