{% extends "sections/common/full-width-section.html" %}

  {% block content %}
  
    <section class="cluster-l cluster-space-800 text-dark">
      <div>

        {% if section.image %}
          <div>
            <img src="{% croppedUrlFor section.image, 400, 400 %}" alt="{{section.image.alt}}">
          </div>
        {% endif %}

        <div class="[ flow ]">
          <h2>{{section.title | safe}}</h2>

          {% if section.subtitle %}
            <div class="ctaSection__subHeadingWrapper">
              <h3 class='subtitle'>{{section.subtitle | safe}}</h3>
            </div>
          {% endif %}

          {# RTE CONTENT #}
          {% if section.text %}
            <div class="[ flow measure-long ]">
              {{section.text | blocksToMarkdown | markdownify | safe}} 
            </div>
          {% endif %}
          
          {% if section.button1.text %}
          <div class="">      
              <a href="{{section.button1.url}}" class="[ button ] [ button--colored-bg button--color-accent ]">{{section.button1.text}}</a>
          </div>
          {% endif %}

        </div>

        
      </div>
    </section>


  {% endblock %}
