.pannel {
  padding: calc(var(--grid-space) * 2) var(--grid-space);

  @include media-query('sm') {
    padding: 1.875rem;
  }

  @include media-query('md') {
    padding: get-size('900');;
  }

  @media screen and (min-width: 1200px) {
    padding: 5rem 7.5rem;
  }
}