
  <section class="[ ctaSection ]">
    
    {% responsiveImage section.image, 
      "500, 1200, 1600", 
      "(min-width: 40em) 70vw, 100vw",
      "[ bgImage bgImage--gray bgImage--withOverlay ]",
      imageAlt
    %}
    
    <div class="[ ctaSection__color-overlay ] [ pinned ]"></div>
    
    <div class="[ wrapper ]">
        
      <div class="[ ctaSection__content ] [ pannel ]">
        {% block content %}

          <h1>MISSING CONTENT</h1>
          
        {% endblock %}
      </div>
    </div>
  </section>