{# MAGAZINE SECTION MACRO 
  @section.theme = STRING = 
  greenTheme-frame-greenBtn | greenTheme-frame-redBtn | greenTheme-frame-blueBtn |
  blueTheme-frame-blueBtn | blueTheme-frame-greenBtn | blueTheme-frame-redBtn | 
  redTheme-frame-redBtn | redTheme-frame-greenBtn | redTheme-frame-blueBtn |
  yellowTheme-frame-greenBtn | yellowTheme-frame-blueBtn | yellowTheme-frame-redBtn |
  
  greenTheme-fill-whiteBtn | greenTheme-fill-yellowBtn | 
  blueTheme-fill-whiteBtn | blueTheme-fill-yellowBtn | 
  redTheme-fill-whiteBtn | redTheme-fill-yellowBtn | 
  yellowTheme-fill-greenBtn | yellowTheme-fill-blueBtn | yellowTheme-fill-redBtn  
 #}

  {# default to green bordered secttion, with green bg button (light text ) #}
  {% set theme = 'frame' %} 
  {% set themeColor = 'green' %}
  {% set buttonStyle = 'colored-bg' %}
  {% set buttonColor = 'green' %}
  
  {# SET VARS TO RENDER SECTION BASED ON SELECTED THEME #}

  {# set the theme of the section and button (frame or solid bg) #}
  {% if 'fill' in section.theme %}
    {% set theme = 'fill' %}
    {# exeption for yellow color, which should be considered light #}
    {% if ('yellowTheme' in section.theme) or ('yellowBtn' in section.theme) %}
      {% set buttonStyle = 'colored-bg' %}
    {% else %}
    {# for all colors, set buttons to light bg (colored text) #}
      {% set buttonStyle = 'colored-text' %}
    {% endif %}
  {% endif %}


  {# theme color #}
  {# set available themes #}
  {% set magSectionThemes = [
    {'name': 'greenTheme', 'color': 'green' },
    {'name': 'blueTheme', 'color': 'blue' },
    {'name': 'redTheme', 'color': 'red' },
    {'name': 'yellowTheme', 'color': 'yellow' }
  ]%}
  {# identify the theme and set the themeColor var to corresponding value #}
  {% for item in magSectionThemes %}
    {% if item.name in section.theme %}
      {% set themeColor = item.color %}
    {% endif %}
  {% endfor %}
  
  {# button color #}
  {# set available button colors (also used for the eyebrow color) #}
    {% set buttonColors = [
    {'name': 'greenBtn', 'color': 'green' },
    {'name': 'blueBtn', 'color': 'blue' },
    {'name': 'redBtn', 'color': 'red' },
    {'name': 'yellowBtn', 'color': 'yellow' },
    {'name': 'whiteBtn', 'color': 'white' }
  ]%}
  {# identify the button color and set the buttonColor var to corresponding value #}
  {% for item in buttonColors %}
    {% if item.name in section.theme %}
      {% set buttonColor = item.color %}
    {% endif %}
  {% endfor %}


  <section class="[ magSection ] [ wrapper ]" data-theme="{{theme}}" data-theme-color="{{themeColor}}">
    <div class="[ magSection__image ]">
      {% block sectionImage %}
        <h1>Missing Image</h1>
      {% endblock %}
    </div>
    <div class="[ magSection__content ] [ pannel frame-thick flow ]">

      {% block sectionCopy %}
        <h1>Missing Copy</h1>
      {% endblock %}
      
    </div>
  </section>
