{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}


{% from 'components/card.html' import card %}

{% block seo %}
    {% set pageSeoTitle = siteEmployment.content.seoTitle %}
    {% set pageSeoDescription = siteEmployment.content.seoDescription %}
    {% include "partials/seo-data.html" %}
{% endblock %}

{% block content %}

  {% for section in siteEmployment.content.sectionsTop %}

    {% if section._type == 'ctaSection' %}
      {% include "sections/cta-section.html" %}
    {% endif %}
    {% if section._type == 'rteSection' %}
      {% include "sections/rte-section.html" %}
    {% endif %}
    {% if section._type == 'mainHeadingSection' %}
      {% include "sections/mainHeading-section.html" %}
    {% endif %}

  {% endfor %}
  
  {% set cards = siteEmployment.content.companies %}
  {% include "sections/card-section-employment.html" %}

  {# <script>console.log({{siteHome | dump | safe}})</script> #}

  {% for section in siteEmployment.content.sectionsBottom %}

    {% if section._type == 'ctaSection' %}
      {% include "sections/cta-section.html" %}
    {% endif %}
    {% if section._type == 'rteSection' %}
      {% include "sections/rte-section.html" %}
    {% endif %}

  {% endfor %}

{% endblock %}