{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}


{% from 'components/card.html' import card %}

{% block seo %}
    {% set pageSeoTitle = siteEmployment.content.seoTitle %}
    {% set pageSeoDescription = siteEmployment.content.seoDescription %}
    {% include "partials/seo-data.html" %}
  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N5Q2KC8');</script>
  <!-- End Google Tag Manager -->

  <!-- pixel -->
  <script src="https://js.adsrvr.org/up_loader.1.1.0.js" type="text/javascript"></script>
  <script type="text/javascript">
    ttd_dom_ready( function() {
        if (typeof TTDUniversalPixelApi === 'function') {
            var universalPixelApi = new TTDUniversalPixelApi();
            universalPixelApi.init("wylz9t3", ["jthjdgl"], "https://insight.adsrvr.org/track/up");
        }
    });
  </script>
  <!-- end pixel -->
{% endblock %}

{% block afterBodyOpen %}
   <!-- Google Tag Manager (noscript) -->
   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N5Q2KC8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block content %}

  {% for section in siteEmployment.content.sectionsTop %}

    {% if section._type == 'ctaSection' %}
      {% include "sections/cta-section.html" %}
    {% endif %}
    {% if section._type == 'rteSection' %}
      {% include "sections/rte-section.html" %}
    {% endif %}
    {% if section._type == 'mainHeadingSection' %}
      {% include "sections/mainHeading-section.html" %}
    {% endif %}

  {% endfor %}
  
  {% set cards = siteEmployment.content.companies %}
  {% include "sections/card-section-employment.html" %}

  {# <script>console.log({{siteHome | dump | safe}})</script> #}

  {% for section in siteEmployment.content.sectionsBottom %}

    {% if section._type == 'ctaSection' %}
      {% include "sections/cta-section.html" %}
    {% endif %}
    {% if section._type == 'rteSection' %}
      {% include "sections/rte-section.html" %}
    {% endif %}

  {% endfor %}

{% endblock %}