{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}


{% from 'components/card.html' import card %}

{# provide seo tags to base template #}
{% block seo %}
    {% set pageSeoTitle = siteHome.content.seoTitle %}
    {% set pageSeoDescription = siteHome.content.seoDescription %}
    {% include "partials/seo-data.html" %}
{% endblock %}

{% block content %}

  {% for section in siteHome.content.sectionsTop %}

    {% if section._type == 'ctaSection' %}
      {% include "sections/cta-section.html" %}
    {% endif %}
    {% if section._type == 'mainHeadingSection' %}
      {% include "sections/mainHeading-section.html" %}
    {% endif %}

  {% endfor %}
  
  {% set cards = siteHome.content.companies %}
  {% include "sections/card-section.html" %}

  {# <script>console.log({{siteHome | dump | safe}})</script> #}


  {% for section in siteHome.content.sections %}

    {% if section._type == 'ctaSection' %}
      {% include "sections/cta-section.html" %}
    {% endif %}
    {% if section._type == 'mainHeadingSection' %}
      {% include "sections/mainHeading-section.html" %}
    {% endif %}
    
    {# {% if section._type == 'faqSection' %}
      {% set qaSectionCounter = qaSectionCounter + 1 %}
      {% include "sections/faq-section.html" %}
    {% endif %} #}

  {% endfor %}

{% endblock %}