{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/page.css'] %}

{% from 'components/content-sections.html' import contentSections %}

{% block seo %}
    {% set pageSeoTitle = sitePage.content.seoTitle %}
    {% set pageSeoDescription = sitePage.content.seoDescription %}
    {% include "partials/seo-data.html" %}
{% endblock %}

{% block content %}

  {# <script>console.log({{sitePage.content | dump | safe}})</script> #}

  {{contentSections(sitePage.content.sectionsTop)}}

{% endblock %}