{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/page.css'] %}

{% from 'components/content-sections.html' import contentSections %}

{# provide seo tags to base template #}
{% block seo %}
      <title>{{sitePage.content.seoTitle}}{{settings.seoTitleSuffix}}</title>
      <meta name="description" content="{{sitePage.content.seoTitle}}}">

      <meta property="og:title" content="{{sitePage.content.seoTitle}}"/>
      <meta property="og:url" content="{{page.url}}" />
      <meta property="og:description" content="{{sitePage.content.seoDescription}}" />
      {# <meta property="og:image" content="{% croppedUrlFor ogImage, '1200', '627' %}" /> #}
      <meta property="og:type" content="website" />
{% endblock %}

{% block content %}

  {# <script>console.log({{sitePage.content | dump | safe}})</script> #}

  {{contentSections(sitePage.content.sectionsTop)}}

{% endblock %}