{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/page.css'] %}

{% from 'components/page-header.html' import pageHeader %}
{% from 'components/content-sections.html' import contentSections %}

{% from 'components/seo-data.html' import seoData %}

{% block seo %}
    {{seoData(
      special.content.seoTitle,
      special.content.seoDescription,
      siteSettings.title,
      siteSettings.description,
      siteSettings.image,
      special.content.image
      )}}
{% endblock %}

{% block content %}

{# <script>console.log('debug', {{mealsMenu.content | dump | safe}})</script> #}

{{pageHeader(title=special.content.name, image=special.content.image)}}

<div class="specials">
  {% include "partials/special.html" %}
</div>

{% endblock %}