$btn-colors-all: 'primary','secondary','accent','quaternary','dark','tertiary', 'light';

.button, #c-submit-button {
  @extend .radius;

  display: inline-block;
  padding: 1.125rem 1.5rem 0.9rem 1.5rem;
  font-size: get-size('400');
  
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;

  // border: 2px solid;
  
  @include apply-utility('font', 'sans');
  font-weight: 700;

  &--colored-bg {
    @each $color in $btn-colors-all {
      &.button--color-#{$color} { 
        background: get-color($color);
        color: get-color('light-glare');
      }
      &:hover {
        background: get-color('light-glare');
        color: red;
        border: 1px solid red;
      }
    }
  }

  &--light-bg {
    @each $color in $btn-colors-all {
      &.button--color-#{$color} { 
        background: get-color('light-glare');
        color: get-color($color);

        &:hover {
          background: get-color($color);
            color: get-color('light-glare');
        }
      }
    }

    
  }

  // Make sure hover state trumps all variants with a good ol’ important

  // Add a ghost modifier
  &[data-variant='ghost'], &--ghost {
    background: transparent;
    color: get-color('accent');
  }

  &--small {
    font-size: get-size('350');
    padding: 12px 16px!important;
  }

  &--full {
    display: block;
  }
}