$heading-height: 5.4rem;
$submenu-bg-color: get-color('light-glare');
$mobileMenuItemBorder: 1px solid rgba(get-color('secondary'), 0.3);
$main-menu-colors: (
  '1': get-color('primary'),
  '2': get-color('accent'),
  '3': get-color('secondary'),
  '4': get-color('quaternary'),
  '5': get-color('accent')
);

.nav {
  line-height: 1;
  font-weight: 700;
  width: 100%;

  // from tut
  position: fixed;
  height: calc(100vh - #{$heading-height});
  top: $heading-height;
  left: 0;
  background-color: get-color('light-glare');
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(100%);
  transition: .65s;
  border-top: $mobileMenuItemBorder;
  border-width: 2px;
  border-color: get-color('primary');  
  
  &[data-open="true"]{
    transform: translateX(0);
  }
  
  @include media-query('lg') {
    border-top: none;
    position: static;
    background-color: transparent;
    height: auto;
    transform: translateX(0);
    overflow-x: visible;
    overflow-y: visible;
    transition: none;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: get-color('primary');

    @include media-query('lg') {
      background-color: transparent;
    }
  }
  
  &__list {
    width: 100%;
    justify-items: center;
    
    @include media-query('lg') {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    & li.nav__item {
      // border-bottom: $mobileMenuItemBorder;
      flex: 1;
      position: relative;
      text-align: center;
      padding: 0.5em 0;
      
      @include media-query('lg') {
        border: none;
        display: flex;
        justify-content: center;
        margin-right: get-size('600');
      }

      & a, & button {
        display: inline-block;
        background: none;
        border: none;
        cursor: pointer;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        position: relative;
        // color: get-color('dark');
        // padding: get-size('300');
        outline-offset: -0.25rem;
        font-weight: 400;
        position: relative;
        overflow: hidden;
        padding: 0.7em  0.5em 0.5em 0.5em !important;
        color: get-color('light');
        text-transform: uppercase;
        font-size: get-size('500');
        letter-spacing: 1px;
        border: 1px solid get-color('light');
        border-radius: 5px;

        span {
          margin-right: 0.25em;
        }
        
        &::after {
          content:'';
          width: 100%;
          height: 2px;
          background-color: red;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: translateX(-100%);
          transition: all 0.35s ease-in-out;
        }
        
        &:hover {
          color: get-color('dark')!important;
          &::after{
            transform: translateX(0);
          }
        }

        // active main menu items mobile
        &[aria-current='page'], 
        &[data-state='active'] {
          color: get-color('primary');
          background-color: get-color('light');
        }
        
        @media screen and (min-width: 960px) {
          white-space: nowrap;
        }
        
        @include media-query('lg') {
          border: none;
          width: 100%;
          display: flex;
          padding: 0.5em 0 0.25em 0 !important;
          font-size: 1.1rem;
          padding: 0;
          color: get-color('dark');
          text-transform: capitalize;
          font-weight: normal;
          
          width: auto;
          outline-offset: 0.25rem;
          &:hover {
            transform: scale(1.1);
            transition: .1s;
            color: get-color('primary');
          }

          // active main menu items desktop
          &[aria-current='page'], 
          &[data-state='active'] {
            color: get-color('accent');
            font-weight: 800;
            background-color: transparent;
            &:hover {
              transform: scale(1);
            }

            &::after {
              transform: translateX(0);
            }
          }
        }

      } // a, button

    } // li.nav__item
    
  } // &__list
}
