.footer {
  border-top: 2px solid get-color("light");
  padding-top: get-size("900");
  color: get-color("light-glare");
  font-size: get-size("400");

  & a {
    text-decoration-color: get-color("light") !important;
    &:focus {
      outline: 2px dashed get-color("light") !important;
    }
  }

  &__grid {
    @include media-query("md") {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: var(--flow-space);
      padding-left: 1.875rem;
    }

    @include media-query("lg") {
      padding-left: 0;
      display: grid;
      grid-template-columns: 1.5fr 1fr 1fr 1fr;
      grid-template-rows: min-content min-content;
      gap: var(--flow-space);
      grid-template-areas:
        "logos social social phone"
        "address nav1 nav2 nav3";
    }
  }

  p {
    color: get-color("light-glare");
  }

  background-color: get-color("quaternary-shade");

  &__logos {
    display: flex;
    align-items: center;

    & img:first-child {
      margin-right: get-size("400");
    }

    @include media-query("md") {
      grid-row: 1;
      grid-column: 1 / span 2;
      & img:first-child {
        margin-right: get-size("800");
      }
    }
  }

  &__address {
    @include media-query("md") {
      grid-row: 2;
      grid-column: 1 / span 1;
    }

    @include media-query("lg") {
      grid-area: address;
    }

    p {
      @include media-query("md") {
        max-width: 20rem;
      }
    }
  }

  &__social-wrapper {
    padding-top: get-size("600") !important;
    display: flex;
    align-items: center;

    @include media-query("md") {
      grid-row: 2;
      grid-column: 3;
    }

    @include media-query("lg") {
      grid-area: social;
    }

    li {
      padding-inline-end: get-size("400");
    }

    li:hover {
      transform: scale(1.1);
      transition: 0.1s;
    }

    a {
      font-size: get-size("700");
      color: get-color("light-glare");
      display: block;

      svg {
        display: block;
      }
    }
  }

  &__phone {
    @include media-query("md") {
      margin-top: 0 !important;
    }

    br {
      display: none;
      @include media-query("md") {
        display: inline;
      }
    }

    & span:first-child {
      margin-right: get-size("400");
    }

    & span:nth-child(3) {
      @include media-query("md") {
        font-size: get-size("600") !important;
      }
    }
  }

  &__col {
    h4 {
      @extend .font-base;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: get-size("400");
    }

    li {
      margin-top: get-size("200");
    }

    > div {
      margin-top: get-size("600");
    }
  }

  &__bottom {
    border-top: 2px solid get-color("light");
    padding: get-size("500") 0;
    margin-top: get-size("600");
    background-color: get-color("quaternary");
    font-size: get-size("330");

    p {
    }

    @include media-query("md") {
      margin-top: get-size("xl");
    }

    &-content {
      @include media-query("md") {
        text-align: center;
      }
    }

    & .signature {
      margin-top: get-size("400");
      @include media-query("md") {
        margin-top: 0;
      }
    }
  }
}
