/**
 * BASE SIZE
 * All calculations are based on this. It’s recommended that
 * you keep it at 1rem because that is the root font size. You
 * can set it to whatever you like and whatever unit you like.
 */
$gorko-base-size: 1rem;

/**
 * SIZE SCALE
 * This is a Perfect Fourth scale that powers all the utilities that
 * it is relevant for (font-size, margin, padding). All items are
 * calcuated off the base size, so change that and cascade across
 * your whole project.
 */
$gorko-type-scale: (
  '200': $gorko-base-size * 0.56,
  '300': $gorko-base-size * 0.75,
  '330': $gorko-base-size * 0.8,
  '350': $gorko-base-size * 0.9375,
  '400': $gorko-base-size,
  '500': $gorko-base-size * 1.33,
  '600': $gorko-base-size * 1.77,
  '700': $gorko-base-size * 2.36,
  '800': $gorko-base-size * 3.15,
  '900': $gorko-base-size * 4.2,
  'xl': $gorko-base-size * 5.61
);

$gorko-size-scale: (
  '200': $gorko-base-size * 0.56,
  '300': $gorko-base-size * 0.75,
  '330': $gorko-base-size * 0.8,
  '350': $gorko-base-size * 0.9375,
  '400': $gorko-base-size,
  '500': $gorko-base-size * 1.33,
  '600': $gorko-base-size * 1.77,
  '700': $gorko-base-size * 2.36,
  '800': $gorko-base-size * 3.15,
  '900': $gorko-base-size * 4.2,
  'xl': $gorko-base-size * 5.61,
  '2xl': $gorko-base-size * 7.478,
  '3xl': $gorko-base-size * 9.969,
  '4xl': $gorko-base-size * 13.288,
);

/**
 * COLORS
 * Colors are shared between backgrounds and text by default. 
 * You can also use them to power borders, fills or shadows, for example.
 */
$gorko-colors: (
  'dark': #36342E,
  'dark-shade': #343432,
  'dark-glare': #42413b, 
  // 'light': #FFFDF5,
  'light': #F4F4F4,
  'light-shade': #FFFDF5,
  'light-glare': #FFF,
  'primary': #5db0b4,
  'primary-shade': #447F82,
  'primary-glare': #5db0b4,
  'secondary': #057EA6,
  'secondary-shade': #006F94,
  'secondary-glare': #5BD8EB,
  'tertiary': #ffcc00,
  'tertiary-shade': #ffd324,
  'tertiary-glare': #fefc9f,
  'quaternary': #0A7F8F,
  'quaternary-shade': #096F7D,
  'quaternary-glare': #0EADC2,
  'accent': #035cba,
  'accent-shade': #035cba,
  'accent-glare': #035cba,
  'muted': #757575
);

/**
 * CORE CONFIG
 * This powers everything from utility class generation to breakpoints
 * to enabling/disabling pre-built components/utilities.
 */
$gorko-config: (
  'bg': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'background',
  ),
  'color': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'color',
  ),

  'flow-space': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': '--flow-space',
  ),
  'font': (
    'items': (
      'base': '"Open Sans", sans-serif',
      'sans': '"Open Sans", sans-serif',
      'headline': '"Raleway", sans-serif',
    ),
    'output': 'standard',
    'property': 'font-family',
  ),
  'gap-top': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'margin-top',
  ),
  'gap-bottom': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'margin-bottom',
  ),
  'leading': (
    'items': (
      'loose': 1.7,
      'tight': 1.3,
      'flat': '1.1',
    ),
    'output': 'standard',
    'property': 'line-height',
  ),
  'mx': (
    'items': (
      '0': '0',
      'auto': '0 auto',
    ),
    'output': 'responsive',
    'property': 'margin',
  ),
  'measure': (
    'items': (
      'micro': '10ch',
      'small': '15ch',
      'compact': '30ch',
      'short': '40ch',
      'long': '65ch',
    ),
    'output': 'responsive',
    'property': 'max-width',
  ),
  'text': (
    'items': $gorko-type-scale,
    'output': 'responsive',
    'property': 'font-size',
  ),
  'weight': (
    'items': (
      'normal': 400,
      'bold': 900,
    ),
    'output': 'standard',
    'property': 'font-weight',
  ),
  'breakpoints': (
    'sm': '(min-width: 21rem)',
    'md': '(min-width: 37em)',
    'lg': '(min-width: 62em)',
  ),
);

