// First up: config and functions
@import "./config";

// Next: pull in gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";

@import "reset";

// Global styles start
:root {
  --flow-space: 1.875rem;
  --grid-space: 0.9375rem;
}

body {
  // background: url('/images/bg/DG_portal_texture.jpg') get-color('light') repeat top left;
  color: get-color("dark");
  line-height: 1.5;
  font-size: get-size("500");
  // background: linear-gradient(144deg, rgba(45,130,98,1) 0%, rgba(11,96,64,1) 100%);
  background-color: get-color("quaternary");
  // padding-top: 85px;

  @include apply-utility("font", "base");

  @include media-query("lg") {
    // padding-top: 5.9375rem;
    padding-top: get-size("600");
  }
}

a:not([class]) {
  color: currentColor;
  text-decoration-color: get-color("primary");
}

:focus {
  outline: 2px dashed get-color("primary");
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;

  @include apply-utility("font", "headline");
  @include apply-utility("leading", "flat");
  font-variant-numeric: lining-nums;
}

h1,
h2 {
  font-size: get-size("600");
  @include media-query("md") {
    font-size: get-size("700");
  }
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: get-color("light-glare");

  // We set this as an RGBA because that’s how you get a solid color, by using 0.99
  // alpha value. Browsers are wild.
  background: rgba(get-color("dark"), 0.99);
}

// Scrollbar styles
::-webkit-scrollbar {
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid get-color("dark");
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: get-color("dark");
  border-radius: 0.25rem;
}

// Import blocks
@import "blocks/button";
@import "blocks/card";
@import "blocks/card-section";
@import "blocks/cta-section";
@import "blocks/hamburger-menu";
@import "blocks/grid-card";
@import "blocks/nav";
@import "blocks/site-footer";
@import "blocks/site-head";
@import "blocks/skip-link";

// Import utilities
@import "utilities/auto-grid";
@import "utilities/cluster-l";
@import "utilities/eyebrow";
@import "utilities/flow";
@import "utilities/frame";
@import "utilities/grid-spacing";
@import "utilities/headline";
@import "utilities/pannel";
@import "utilities/pinned";
@import "utilities/radius";
@import "utilities/site-wrap";
@import "utilities/switcher";
@import "utilities/subtitle";
@import "utilities/visually-hidden";
@import "utilities/wrapper";

.mainHeaderHp {
  font-weight: 700;
  & span {
    font-weight: 800;
    font-size: 3rem;
    display: block;
    line-height: 1.4;
    padding-top: get-size("800");
    @include media-query("md") {
      font-size: 5rem;
    }
    @include media-query("lg") {
      font-size: 10rem;
    }
  }
}

.center {
  text-align: center;
}
.videoOuterWrapper {
  padding: get-size("800") 0;
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rteSection {
  a {
    text-decoration: underline;
  }
  img {
    width: 100%;
  }
}

.embed {
  margin: get-size("600") auto;
}
