        <nav class="[ nav ] [ site-head__nav ]" 
          id="nav-list"
          aria-label="Main Menu" 
          x-bind:data-open="mainMenuisOpen" 
          :aria-expanded="mainMenuisOpen" 
        >
            <div class="nav__wrapper">
          <ul class="nav__list">
              {# nav is json object provided in data/nav.json #}
              {% for mainNavItem in nav -%}
                <li class="nav__item">
                  <a href="/{{mainNavItem.url | slug }}/" {{ helpers.getLinkActiveState(mainNavItem.url, page.url) | safe }}>
                    {% set iconPath = "partials/svg/icon-" + mainNavItem.icon + ".svg" %}
                    <span>{% include iconPath %}</span>
                    {{mainNavItem.name}}
                 </a>
                </li>            
              {%- endfor %}
          </ul>
            </div>
        </nav>
        {# END NAVIGATION #}
        {# MOBILE MENU TOGGLE #}
          <div class="hamburger-menu__container">
              <button 
                aria-controls="nav-list" 
                aria-label="Main Menu toggle" 
                :aria-expanded="mainMenuisOpen" 
                class="hamburger-menu"  
                @click.prevent="mainMenuisOpen = !mainMenuisOpen" 
                x-bind:data-open="mainMenuisOpen" 
                >
                  <div></div>
              </button>
          </div>
          {# END MOBILE MENU TOGGLE #}