<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
{# <div class="mq">
  <div class="mqTiny">Tiny</div>
  <div class="mqSm">Small</div>
  <div class="mqMd">Medium</div>
  <div class="mqLg">Large</div>
</div> #}


<header role="banner" class="[ site-head ]">
  <div class="wrapper">
    <div class="nav [ cluster-l ]">
      <div> <!-- intermediary wrapper -->
        <div></div>
        <div class="nav__wrapper [ cluster-l ]">
          <ul class="nav__list"> <!-- intermediary wrapper -->
            <li><a href="/" class="button button--light-bg button--color-accent button--small">Home</a></li>
            <li><a href="/history/" class="button button--light-bg button--color-accent button--small">History</a></li>
            <li><a href="/employment/" class="button button--light-bg button--color-accent button--small">Join Our Team</a></li>
            <li><a href="/contact/" class="button button--colored-bg button--color-accent button--small">Contact</a></li>
          </ul>
          </div>
        </div>
      </div>
  </div>
</header>